* {
    margin: 20px;
}

header {
    margin: 0;
    padding: 0;
}

.num-members-input {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.num-members-input label{
  width: 150px;
}
.num-members-input input{
  width: 100px;
}
.num-selection-input {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.num-selection-input label{
  width: 150px;
}
.num-selection-input input{
  width: 100px;
}
.selection {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.selection div {
    width: 300px; 
    margin: 7px;
    margin-left: auto;
    margin-right: auto;
}

.vote-selection div {
    margin: 7px;
}
.vote-selection span {
    display: inline-block;
    width: 100px;
}


/* ゲージのUI */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 14px;
    width: 200px;
    background: #45d8a7; 
    border-radius: 10px; 
    border: solid 3px #defff8; 
  }
/* つまみ */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #00c499;
    width: 24px; /* 幅 */
    height: 24px; /* 高さ */
    border-radius: 50%; /* 円形に */
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}
/* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
    background: #00c499;
    width: 24px; 
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
}
/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type="range"]::-moz-focus-outer {
    border: 0;
}
/* つまみをドラッグしているときのスタイル */
input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

.wrapper {
  margin: 0 auto;
  width: 500px;
}

.result-selection {
  width: 100%;
  display: flex;
}
.result-selection .name {
  float: left;
  width: 80px;
  margin: auto;
}
.result-selection .bar {
  float: right;
  width: 100%;
  height: 48px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 15px 0;
}
.result-selection .bar .bar-info {
  margin-top: auto;
  border-radius: 5px;
  padding: 0.75rem;
  background: #fd7473;
  color: rgb(0, 0, 0);
}
.result-selection .bar .bar-info .percent {
  float: right;
}
.result-selection .bar .bar-info.result {
  background: linear-gradient(#33b187, #0ca874), #33b187;
}